/data/images
data/embeddings.npz
data/merged_output_sample_100k.parquet
data/merged_output.parquet
data/filtered_data.parquet
/notebook/.ipynb_checkpoints
/data/faiss_indexes
/mlruns
notebook/mlflow.db
data/clean/filtered_data.parquet
data/clean/filtered_data_100k.csv
data/embeddings/embeddings_100k.npz
/data/raw
*.npz
preprocess/images_100k_v2.zip
data/csv/sample_100k_v2.csv
.env
**/__pycache__/
/.cloud_sql_proxy
data/csv/sample_1M.csv
data/faiss_indices/
/data/csv/raw
data/csv/clean/data.csv
